<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<meta charset="utf-8" />
<title><%= title %></title>
<base href="<%= base_url %>" />
<meta name="description" content="<%= description %>" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="<%= base_url %><%= slug %>" />
<link rel="icon" type="image/svg+xml" href="./_/images/favicon/avatar.svg" />
<link rel="stylesheet" media="screen" href="./_/styles/screen/index.css" />
<link rel="stylesheet" media="print" href="./_/styles/print/index.css" />
<link rel="alternate" type="application/rss+xml" href="./feed.rss" />

<main>
