/**
 * Fonts
 */

@font-face {
  font-display: swap;
  font-family: 'iA Duo';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/ia-duo/regular.woff2');
}

@font-face {
  font-display: swap;
  font-family: 'iA Duo';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/ia-duo/regular-italic.woff2');
}

@font-face {
  font-display: swap;
  font-family: 'iA Duo';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/ia-duo/bold.woff2');
}

@font-face {
  font-display: swap;
  font-family: 'iA Duo';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/ia-duo/bold-italic.woff2');
}
