/**
 * Layout
 */

#header {
  background: var(--color\=header\|background);
}

#header,
#content {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  padding-left: calc(var(--spacing) / 2);
  padding-right: calc(var(--spacing) / 2);
}

/* 600px */
@media screen and (min-width: 37.5rem) {
  #header,
  #content {
    padding: var(--spacing\@sm);
  }
}

/* 1000px */
@media screen and (min-width: 62.5rem) {
  #header,
  #content {
    padding: var(--spacing\@lg);
  }
}

#content {
  max-width: 80rem;
  position: relative;
}

aside {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

/* 600px */
@media screen and (min-width: 37.5rem) {
  aside {
    margin-bottom: var(--spacing\@sm);
    margin-top: var(--spacing\@sm);
  }
}

/* 1000px */
@media screen and (min-width: 62.5rem) {
  aside {
    margin-bottom: var(--spacing\@lg);
    margin-top: var(--spacing\@lg);
  }
}

aside:first-child { margin-top: 0; }
aside:last-child { margin-bottom: 0; }
