/*
Layout
*/

body {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  padding-left: calc(var(--spacing) / 2);
  padding-right: calc(var(--spacing) / 2);
}

@media screen and (min-width: 37.5rem) { /* 600px */
  body {
    padding: var(--spacing\@sm);
  }
}

@media screen and (min-width: 62.5rem) { /* 1000px */
  body {
    padding: var(--spacing\@lg);
  }
}

#header,
#content,
#footnotes,
#footer {
  margin: 0 auto;
  max-width: 75rem;
  position: relative;
}

#header:not(:last-child),
#content:not(:last-child),
#footnotes:not(:last-child),
#footer:not(:last-child) {
  margin-bottom: var(--spacing);
}

@media screen and (min-width: 37.5rem) { /* 600px */
  #header:not(:last-child),
  #content:not(:last-child),
  #footnotes:not(:last-child),
  #footer:not(:last-child) {
    margin-bottom: var(--spacing\@sm);
  }
}

@media screen and (min-width: 62.5rem) { /* 1000px */
  #header:not(:last-child),
  #content:not(:last-child),
  #footnotes:not(:last-child),
  #footer:not(:last-child) {
    margin-bottom: var(--spacing\@lg);
  }
}

aside {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

@media screen and (min-width: 37.5rem) { /* 600px */
  aside {
    margin-bottom: var(--spacing\@sm);
    margin-top: var(--spacing\@sm);
  }
}

@media screen and (min-width: 62.5rem) { /* 1000px */
  aside {
    margin-bottom: var(--spacing\@lg);
    margin-top: var(--spacing\@lg);
  }
}

aside:first-child { margin-top: 0; }
aside:last-child { margin-bottom: 0; }
